.main-container{
    display:flex;
    flex-wrap: wrap;
}

.main-container-cards{
    display:flex;
    justify-content: center;
    width: 95%;
    border-top: 4px solid rgb(164, 176, 190);
    margin: 0 auto;
    margin-top: 2rem;
}

.container-cards{
    max-width: 93rem;
    padding-top: 2rem;
    border-top: none;
}

.contenedor-teoria{
    width: 80%;
    max-width: 66.8rem;
    margin-bottom: 0%;
}

.contenedor-calculadora{
    width: 80%;
    max-width: 66.8rem;
    height: 60%;
    margin-top: 2rem;
}

.contenedor-menu nav a {
    font-size: 2.5rem;
}

.boton-calcular{
    box-shadow: none;
}

.boton-calcular:hover{
    box-shadow: 2px 3px 10px rgba(9, 9, 9, 0.8);
    cursor: pointer;
}