header h1{
    font-size: 4rem;
}

.contenedor-creditos .titulo-credito{
    font-size: 2rem;
}

.contenedor-sitiosWeb .links{
    font-size: 1.7rem;
}

.contenedor-copyright p{
    width: 57%;
    font-size: 2rem;
}

.icono-copyright{
    width: 1.5rem;
    height: 1.5rem;
}

.contenedor-creditos{
    grid-template-rows: 20rem 10rem;
}

.icono-copyright{
    left: calc(50% - 19rem);
}

.contenedor-copyright p {
    left: calc(50% - 17rem);
}